@model MVCApplication.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<br />


<p>
    @Model.TheString
</p>



<br />

<div asp-validation-summary="All"></div><br />

<p><a asp-controller="Home" asp-action="Index">Home Page</a></p>
